VITE_SUPABASE_PROJECT_ID="lrqdbpphallqehpdqalr"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_Vno3bg7_DVgLECuwU6hLxA_iFNiaNpl"
VITE_SUPABASE_URL="https://lrqdbpphallqehpdqalr.supabase.co"

VITE_GA_MEASUREMENT_ID="G-LKDJ4LMYFR"
